<div id="contacts" class="section">
  <h1 class="title">Contacts</h1>
  <div class="contacts-grid">
    <div class="info">
      <div class="item email">
        <i class="fa-regular fa-envelope"></i>
        <h4>email:</h4>
        <p>argeldelacruz86&#64;gmail.com</p>
      </div>
      <div class="item phone">
        <i class="fa-solid fa-phone"></i>
        <h4>phone:</h4>
        <p>+39 327-6714451</p>
      </div>
      <div class="item linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
        <h4>linkedin:</h4>
        <p>
          <a href="https://www.linkedin.com/in/argel-dela-cruz-2795122a5/" target="_blank">
            https://www.linkedin.com/in/argel-dela-cruz-2795122a5/
          </a>
        </p>
      </div>
    </div>
    <div class="contact-form">
      <!-- Trapdoor form -->
      <app-trapdoor-form/>
    </div>
  </div>
  <!-- Toast di notifica -->
  <app-toast></app-toast>
</div>

