<div id="about" class="section">
  <h1 class="title">About Me</h1>
  <div class="about-contents">
    <p>
      Hi, I’m Argel, a junior full-stack developer passionate about building intuitive and engaging web applications. I enjoy pushing the boundaries of web technologies, ensuring the web remains a space for creativity and innovation.
    </p>
    <p>
      My journey in software development started with a deep curiosity about how things work on the web. Over the past year, I have built web applications using various modern frameworks, continuously refining my skills and staying up-to-date.
    </p>
    <p>
      This portfolio reflects my learning journey and my passion for experimenting with web technologies in unique ways.
    </p>
    <p>
      I’m currently exploring new opportunities. When I’m not coding, you’ll find me enjoying pop punk, sipping Dr. Pepper, watching musicals, playing cards, or taking walks in the park.
    </p>
  </div>
</div>
