
#home {
  margin: 200px 0 0 0;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
}
.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.home-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;

  span {
    color: var(--color-green-dark);
  }
}

.cta-button {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: var(--font-md);
  background-color: var(--color-white);
  color: var(--color-green-dark);
  border-radius: 5px;
  border: var(--border-width) solid var(--color-green-dark);
  text-align: center;
  outline: 1px solid var(--accent-color);
  outline-offset: -100px;
  transition: outline 0.3s ease, outline-offset 0.3s ease, border-radius 0.6s ease, background-color 0.9s ease, ;
  cursor: pointer;

  &:hover {
    color: var(--secondary-text);
    background-color: var(--color-green-dark);
    outline: 2px solid var(--color-white);
    border-radius: 0px;
    outline-offset: 3px;
    // box-shadow: 0px 10px 10px rgba(56, 142, 60, 0.4);
  }

  &:focus-visible {
  }

}

