.cursor-dot, .cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 50;
  will-change: transform; /* Ottimizzazione per migliorare le performance */
  transition: transform 0.1s ease-out; /* Applica la transizione */
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: var(--primary-color, #000);
  border-radius: 50%;
}

.cursor-outline {
  width: 32px;
  height: 32px;
  border: 2px solid var(--primary-color, #000);
  border-radius: 50%;
}
